.btn {
  padding: 4px 15px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  border: none;
  margin: 10px 0;
}

.btn--add {
  background-color: green;
};

.btn-delete {
  background-color: blueviolet;
}